.texto {
    font-family: Arial;
    font-size: 14pt;
}

.video {
    width: 99%;
    max-height: 99%;
}

.zoom {
    text-align: center;
    font-family: Arial;
    font-size: 40pt;
}

.zoom a {
    color: black;
    text-decoration: none;
}

.zoom a:hover{
    color: grey;
    text-decoration: underline;
    font-size: 42pt;
}